# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production
.env.production.local

# local data and secrets
*.pem
*.key
*.p12
*.crt
*.secret
secrets/

# macOS-specific files
.DS_Store

# editor files
.vscode/settings.json
.vscode/*.code-workspace

# jetbrains setting folder
.idea/

# temporary files
*.tmp
*.temp
